<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <div class="container">
        <h1>Three Kingdoms Project</h1>
        
        <h2>Available API:</h2>

        <div class="link-section">
            <a href="{% url 'admin:index' %}" class="cbv-link">Admin</a>
        </div>
        
        <div class="link-section">
            <a href="{% url 'soldier_list' %}" class="fbv-link">View Soldiers - FBV</a>
        </div>
        
        <div class="link-section">
            <a href="{% url 'soldier_list_cbv' %}" class="cbv-link">View Soldiers - CBV</a>
        </div>

        <h2>Register - Login:</h2>
        <div class="link-section">
            <a href="{% url 'login_page' %}" class="auth-link">Đăng nhập - Django default session</a>
        </div>
        <div class="link-section">
            <a href="{% url 'register_page' %}" class="auth-link">Đăng ký - Django default session Django</a>
        </div>
        <div class="link-section">
            <a href="{% url 'accountJWT:login' %}" class="auth-link">Đăng nhập - JWT rest api</a>
        </div>
        <div class="link-section">
            <a href="{% url 'accountJWT:register' %}" class="auth-link">Đăng ký - JWT rest api</a>
        </div>
        </div>
        <div class="link-section">
            <a href="{% url 'accountJWT:login_html' %}" class="auth-link">Đăng nhập - html form</a>
        </div>

    </div>
</body>
</html>